#cover {
  margin: 0;
  text-align: center;
}
#cover img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 99vh;
}

nav li {
  list-style: none;
  margin-bottom: 0.5em;
}
nav ol {
  margin: 0.5em 0 1em 0;
  padding-left: 1.5em;
}
nav a {
  color: #000;
  text-decoration: none;
}
nav > ol {
  padding: 0;
}
nav > ol > li > a {
  color: #F2645E;
  font-size: 1.25em;
}
nav > ol > li > ol {
}

body > section {
  page-break-before: always;
  break-before: always;
}

h2 {
  background: #F2645E;
  color: #FFF;
  display: inline-block;
  padding: 0.3em;
}

h3 {
  color: #F2645E;
  font-family: sans-serif;
  font-weight: normal;
}

/* Callouts */
.callout {
  background: #FEEAE2;
  padding: 1em 1em 1em 2em;
  font-style: italic;
}
.callout li {
  list-style: none;
}

/* Quotes */
q, blockquote {
  font-style: italic;
  quotes: "\201C""\201D""\2018""\2019";
}
q:before {
  content: open-quote;
}
q:after {
  content: close-quote;
}
q.normal, q sup {
  font-style: normal;
}
blockquote {
  color: #F2645E;
}
blockquote:before {
  opacity: 0.1;
  content: "\201C";
  font-size: 7em;
  line-height: 0em;
  float: left;
  position: relative;
  top: 0.25em;
  left: 0.15em;
  z-index: -1;
  margin-left: -1ex;
}
/* blog post titles are quoted instead of italicized */
cite.post {
  font-style: normal;
}
cite.post:before {
  content: open-quote;
}
cite.post:after {
  content: close-quote;
}

#glossary dt {
  float: left;
  clear: left;
}
#glossary dt dfn {
  font-style: normal;
  font-weight: bold;
}
#glossary dt dfn:after {
  content: ":\00a0";
}
#glossary dd {
  margin: 0;
}

#sponsor {
  text-align: center;
  text-transform: uppercase;
  font-size: .8em;
}
#sponsor img {
  display: block;
  margin: 0 auto;
  width: 20em;
  height: auto;
}
