/* Callouts */
.callout {
  background: #FEEAE2;
  padding: 1em 1em 1em 2em;
  font-style: italic;
}
.callout li {
  list-style: none;
}

/* Quotes */
q, blockquote {
  font-style: italic;
  quotes: "\201C""\201D""\2018""\2019";
}
q:before {
  content: open-quote;
}
q:after {
  content: close-quote;
}
q.normal, q sup {
  font-style: normal;
}
blockquote {
  color: #F2645E;
}
blockquote:before {
  opacity: 0.1;
  content: "\201C";
  font-size: 7em;
  line-height: 0em;
  float: left;
  position: relative;
  top: 0.25em;
  left: 0.15em;
  z-index: -1;
  margin-left: -1ex;
}
/* blog post titles are quoted instead of italicized */
cite.post {
  font-style: normal;
}
cite.post:before {
  content: open-quote;
}
cite.post:after {
  content: close-quote;
}

